.category-card {
  position: relative;
}

.card-label > h1 {
  color:#fff;
} 

.checkbox {
  position: absolute;
  bottom: 0px; right: 0px;
  background-color: rgba(0, 182, 89, 0.5);
  width: 100%;
  height: 100%;
}