.register-form {
    margin:25px auto 100px auto;

    h2 {
        text-align: center;
        display:block;
        margin:10px auto;
    }

    .subtitle {
        text-transform: uppercase;
        color:#4286f4;
        font-weight: bold;
    }

    input {
        padding: 20px;
        margin: 0px 0px 10px 0px;
    }

    select {
        width: 100%;
    }

    button {
        width: 100%;
        height: 40px;
        margin-top:20px;
    }
}

