.page-layout__viewport {
  padding-top: 0rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.content {
  min-height: 100vh;
  // background-color: rgba(0,0,0,.05);
}

.u-flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  -webkit-box-flex: 1
}