.footer-menu {    

    ul {
        list-style: none;
        margin:0px;
        li {
            float: left;
            margin-right:10px;
        }
        
        a {
            color: #999;
        }
        
        a:hover{
            text-decoration: none;
            color: #555;
        }
    }

    .social-media {
        img {
            width: 60%;
        }
    }
}

.content li+li {
  margin-top: 0;
}

