.footer {
    margin-top:25px;
    position: relative;
    right: 0;
    bottom: 0px;
    left:0px;
}

.footer-menu {
    

    ul {
        list-style: none;
        margin-top:20px;
        li {
            float: left;
            margin-right:20px;
        }
        
        a {
            color: #999;
        }
        
        a:hover{
            text-decoration: none;
            color: #555;
        }
    }

    .social-media {
        // float: right;
        img {
            width: 60%;
        }
    }
}

